* {
    margin: 0 ;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    width: 200px;
    opacity: 0.7;
    
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    
    display: flex ;
    justify-content: space-around;
    align-items: center; 
    font-family: system-ui,
    -apple-systyem, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
}

main {
    background: url("bg1.jpg") no-repeat
    center center;
    background-size: cover;
    height: 92vh;
}

.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li {
letter-spacing: 3px;
margin-left: 32px;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(72deg,#102c68 1%, #f7f7f7 99%);
}

.content{
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)

}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex
}

.bar{
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin:6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;

}

.bar:hover {
    background: #fff;
    
}

input{
    display: none ;
}

.slides{
    width: 500%;
    display: flex;
    height: 100%;
}

.slide{
    width: 20%;
    transition: 1s;

}

.slide img{
  width: 100%;
  height: 100%;
}

#slide1:checked ~ .s1{
    margin-left: 0;

}

#slide2:checked ~ .s1{
    margin-left: -20%;

}

#slide3:checked ~ .s1{
    margin-left: -40%;

}

#slide4:checked ~ .s1{
    margin-left: -60%;
}